.card {
    display: flex;
    position: relative;
    overflow: hidden;
    // width: 100px;
}

.thumbnailTitle {
    color: #fff;
    font-size: 12px;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2px 20px;
}